<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<!--      layout:decorate="~{layout}"-->
<body>
<div id="Content">
<!--    <section layout:fragment="content">-->
    <section>

        <div id="Catalog">

            <form th:action="@{/accounts/create}" method="post" th:object="${accountForm}">

                <h3>User Information</h3>

                <table>
                    <tr>
                        <td>User Email:</td>
                        <td>
                            <input th:field="*{email}"/>
                            <div th:errors="*{email}" class="fieldError"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>User ID:</td>
                        <td>
                            <input th:field="*{username}"/>
                            <div th:errors="*{username}" class="fieldError"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>New password:</td>
                        <td>
                            <input type="password" th:field="*{password}"/>
                            <div th:errors="*{password}" class="fieldError"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Repeat password:</td>
                        <td>
                            <input type="password" th:field="*{repeatedPassword}"/>
                            <div th:errors="*{repeatedPassword}" class="fieldError"></div>
                        </td>
                    </tr>
                </table>

                <input id="save" type="submit" value="Save Account Information"/>

            </form>

        </div>

    </section>
</div>
</body>
</html>